
/* this style the sidebar */
.main-logo-sidebar {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    font-family: "Poppins", sans-serif;
}
.sidebar-container .logo-sidebar-text {
    color:  var(--main-text-color);
    font-size: 26px;
    font-weight: 600;
}
.main-logo-sidebar img{
    width: 40px;
    padding-right: 10px;
}
.sidebar-container {
    padding-right: 16px;
    width: 250px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}
.sidebar-container a {
    text-decoration: none;
    color:  var(--main-text-color);
    font-weight: 500;
    font-size: 18px;
}
.list-sidebar {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
.list-menu-sidebar {
    display: flex;
    align-items: center;
    padding: 16px 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}
.list-menu-sidebar:hover {
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    
}
.list-sidebar {
    align-items: center;
}
.list-sidebar img{
    width: 24px;
    padding-right: 16px;
}

/* This is sidebar responsive */
.sidebar-respon {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #e0e0e0;
    border: 1px solid rgb(196, 196, 196);
}

.list-menu-sidebar-respon {
    display: flex;
    align-items: center;
    gap: 60px;
    overflow-x: auto;
    padding: 0px 10px;
}
.list-menu-sidebar-respon img {
    width: 20px;
}
.list-submenu-sidebar-respon {
    display: flex;
    align-items: center;
    gap: 20px;

}
.list-menu-sidebar-respon::-webkit-scrollbar {
    display: none;
}
.list-submenu-sidebar-respon a{
    text-decoration: none;
    color:  var(--main-text-color);
    width: 130px;
}

.toggle-icon {
    color: var(--primary-color);
    font-size: 16px;
    transition: transform 0.3s ease;
    margin-left: 120px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown-list {
    list-style-type: none;
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    max-height: 0; /* Initially hidden */
    overflow: hidden; /* Hide the overflowing content */
    transition: max-height 0.3s ease-out;
}

.dropdown-list.open {
    max-height: 500px; /* Adjust as needed */
}

.dropdown-list li {
    background-color: #f1f1f1;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.dropdown-list li p {
    margin: 0;
    padding: 10px 0px;
    font-size: 18PX;
    font-weight: 500;
    color: var(--main-text-color);
}
.dropdown-list li #sub-list-sidebar {
    padding: 0;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dropdown-list li #sub-list-sidebar a {
    padding: 0;
    font-weight: 400;
    color: rgb(106, 106, 106);
}

.dropdown-list li #sub-list-sidebar a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .sidebar-container{
        display: none;
    }
    .sidebar-respon {
        display: flex;
    }
}