@import url('./footer.css');
@import url('./input.css');
@import url('./sidebar.css');
@import url('./footer.css');
@import url('./view.css');
@import url('./todo-card.css');
@import url('./input-create.css');

:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #000000;
    --primary-color: #252D41;
    --font-size: 18px;
    --main-padding: 0px 16px;
    --max-width: 1600px;
    --input-border: 1px solid rgb(195, 195, 195);
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff; /* Light text color */
    max-width: var(--max-width);
    margin: auto;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    padding: var(--main-padding);
    justify-content: center;

}
.main-header-title {
    display: flex;
    justify-content: center;
    color: var(--main-text-color);
    text-align: center;
    text-decoration: none;
    padding: var(--main-padding);
}
.main-header-title h1 {
    font-weight: 600;
}
.main-header-title span {
    color: var(--main-text-color);
    font-weight: 700;
}

.content-container {
    padding: 1rem;
}
.main-content-overall{
    width: 100%;
}

input, textarea, button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #333;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 10px;
    border: var(--border-button);
}

/* this is image time */
.container-image-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}
.container-image-time img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container-image-time h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-bg-color);
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 1024px) {

    .container-image-time h2{
        font-size: 40px;
    }
}

@media (max-width: 768px) {

    .container-image-time h2{
        font-size: 30px;
    }
    .main-header-title {
        justify-content: center;
    }

}

@media (max-width: 395px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .date-status-container {
        display: block;
    }
    
}