
#note-tasks {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.entry {
    border: 1px solid #f2f2f2; /* Darker border for note-tasks */
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffffff; /* Dark background for note-tasks */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.entry:hover {
    box-shadow: 5px 5px 10px rgba(182, 182, 182, 0.5);
}

.entry h3 a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
    margin: 0;
}

.entry h3, .entry p, .entry small {
    color:  var(--main-text-color); /* Light text color for note-tasks */
}

/* this make the text to 3 line and another hidden */
.entry-details p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-width: 180px;
}
.entry-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: end;
    padding: 0;
    margin: 0;
}
.entry-buttons img{
    width: 20px;
    padding: 0;
    margin: 0;
}
.entry-buttons a{
    padding: 5px;
    margin: 0;
    padding: 0;
}


/* Responsive Design */
@media (max-width: 1024px) {
    #note-tasks {
        grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 768px) {
    #note-tasks {
        grid-template-columns: 1fr;
    }
}